.search{
  background-color: rgb(12, 5, 87);
  height:10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.gallery {
  margin-top: 20vh;
  margin-bottom: 50px;
  display: grid;
  max-width: 1140px;
  
grid-template-columns: auto  ;
  @include mq(tablet) {
  grid-template-columns: auto auto;
    
  }
    @include mq(desktop) {
  grid-template-columns: auto auto auto auto;
    
  }
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  padding-left: 10px;
  padding-right: 10px;
  width: 320px;
  display: block;
  position: relative;
  height:fit-content;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}





.gallery__image:hover {

  transform: scale(1.03);
}

.gallery__image {
    display: block;
      height: 100%;
      width: calc(100% - 20px);
  object-fit:cover;
  /* width: 100%; */
  transition: transform var(--animation-duration) var(--timing-function);
}
/* img.gallery__image-big:first-child:last-child {
  height: 80vh;
  width: auto;
 
} */

.gallery__link {
  display: block;
  text-decoration: none;
  height: 200px;
    width: inherit;

}

.gallery__link:hover {
  cursor: zoom-in;
} 

#load-more{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.none{
  visibility: hidden;
}

.info{
  display: grid;
  grid-template-columns: auto auto;
  @include mq(tablet) {
  grid-template-columns:  auto auto auto auto;
    
  }
   
  
  text-align: center;
}